@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
* {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    display: block;
}

.content {
    display: inline-block;
    height: 100vh;
    width: 100%;
    background-color:moccasin;
    margin: 0 auto;
    text-align: center;
}

.right-column {
    display: inline-block;
    height: 200px;
}

.navbar{
    display: inline-block;
    vertical-align: top;
}

.marco {
    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
}

.food-choices {
    margin: 30px auto;
    text-align: left;
}

.recipe-title{
    margin-top: 12px;
    margin-bottom: 12px;
}

.recipes {
    padding-left: 20px;
}